.container {
  width: 1200px;
}
/* 
.header;;
 */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 100px;
  z-index: 999;
}

.header h1 img {
  height: 67px;
}
.header .gnb {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
}
.header .gnb ul {
  display: flex;
}
.header .burger i {
  vertical-align: middle;
  font-size: 40px;
  color: white;
}
/* 
.header;;
 */

/* 
.mainVisual;;
 */
.mainBg {
  position: relative;
  height: 100vh;
}
.quarry {
  background: url(../img/quarry.jpg) no-repeat top center/cover;
}
.tiny {
  background: url(../img/2KGMKT_TTW_STD_D2C_Hero_Banner_3840x2160.jpg) no-repeat bottom center / cover;
}
.midnight {
  background: url(../img/midnight_main.jpg) no-repeat top center/cover;
}
.wwe {
  background: url(../img/wwe-thumb-1920-1216705.png) no-repeat top center/cover;
}
.titleSlider {
  position: absolute;
  top: 55%;
  left: 0%;
  width: 100%;
}
.titleSlider img {
  width: 400px;
  cursor: pointer;
  filter: grayscale(1);
  transition: 0.3s;
  margin: 0 auto;
}
.titleSlider .midnightTitle img {
  width: 300px;
}
.titleSlider .slick-current img {
  animation: beat 3s ease-in-out infinite;
}
.titleSlider .slick-current img:hover {
  animation: none;
}
@keyframes beat {
  0% {
    opacity: 0.7;
    transform: scale(0.93);
  }
  50% {
    opacity: 1;
    transform: scale(0.97);
  }
  100% {
    opacity: 0.7;
    transform: scale(0.93);
  }
}

.titleSlider img:hover {
  filter: grayscale(0);
}
.titleSlider .slick-current img {
  filter: grayscale(0);
}
.titleSlider .slick-arrow {
  position: absolute;
  top: -392px;
  width: 201px;
  height: calc(100vh - 100px);
  border: none;
  opacity: 0;
}
.titleSlider .slick-prev {
  left: 0px;
  z-index: 999;
}
.titleSlider .slick-next {
  right: 0px;
}

.infoWrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.infoWrap.on {
  display: block;
}
.description .info {
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 46.34%;
  background: #1a1a1a;
  color: #fff;
  border-radius: 10px;
  z-index: 1001;
}
.description .info.on {
  display: block;
}
.description .closeBtn {
  position: absolute;
  top: -30px;
  right: -70px;
}
.description .closeBtn i {
  font-size: 40px;
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.description .closeBtn i:hover {
  transform: rotate(100deg) scale(1.4);
}
.description .txt {
  padding: 30px;
}
.description strong {
  position: relative;
  display: block;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.description iframe {
  width: 100%;
  height: 500px;
}
.description img {
  position: absolute;
  top: -10px;
  margin-left: 20px;
  height: 50px;
}
.description p {
  font-size: 15px;
  font-weight: 300;
  color: #ddd;
  line-height: 1.25;
  margin-bottom: 25px;
}
.description .btn a {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  padding: 7px 40px 9px 40px;
  border: 1px solid #fff;
  text-transform: uppercase;
  margin-right: 5px;
  transition: 0.2s;
  white-space: nowrap;
}
.description .btn a:hover {
  color: #000;
  background: #fff;
}

/* 
.mainVisual;;
 */

/* 
.c01;;
 */
.c01 {
  background: #fff;
}
/* 
.c01;;
 */

/* 
.c02;;
 */
.c02 {
  background: #ddd;
}
/* 
.c02;;
 */

/* 
.c03;;
 */
.c03 {
  background: #fff;
}
/* 
.c03;;
 */

/* 
.c04;;
 */
.c04 {
  background: #ddd;
}
/* 
.c04;;
 */

/* 
.c05;;
 */
.c05 {
  background: #fff;
}
/* 
.c05;;
 */
